<header>
  <a class="menu-estudos" href="#">Estudos</a>
  <a class="menu-novo" href="#">Novo</a>
</header>

<section>
  <app-estudo></app-estudo>
  <div class="estudo">
    <input type="text" value="Estudar Angular Estudar Angular Estudar Angular Estudar Angul Estudar Angular Estudar Angular Estudar Angular Estudar Angular Estudar Angular">
    <textarea>Estudar 6 horas por dia Angular</textarea>
  </div>
  <div class="estudo">
    <h3>Estudar Angular Estudar Angular Estudar Angular Estudar Angul Estudar Angular Estudar Angular Estudar Angular Estudar Angular Estudar Angular</h3>
    <a class="menu-editar" href="#"></a>
    <a class="menu-remover" href="#"></a>
    <p>Estudar 6 horas por dia Angular</p>
  </div>
  <div class="estudo">
    <h3>Estudar .NET CORE</h3>
    <a class="menu-editar" href="#"></a>
    <a class="menu-remover" href="#"></a>
    <p>Estudar 6 horas por dia .NET CORE</p>
  </div>
  <div class="estudo">
    <h3>Estudar Teste</h3>
    <a class="menu-editar" href="#"></a>
    <a class="menu-remover" href="#"></a>
    <p>Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste Estudar 10 horas por dia Teste mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm</p>
  </div>
  <router-outlet></router-outlet>
</section>

<footer>
  © 2021 Wadson Pontes. Todos os direitos reservados.
</footer>