/* You can add global styles to this file, and also import other style files */
body{
    padding:10px;
    margin:0;
    word-break:break-all;
    background-image:url("/assets/img/background.png");
}