/* You can add global styles to this file, and also import other style files */
body{
    padding:10px;
    margin:0 5vw 50px 5vw;
    word-break:break-word;
    /*background:#C9C9F4;*/
    /*background-image:url("/assets/img/background.png");*/
}