<form novalidate #form="ngForm">
    <div class="estudo" *ngIf="estudo.editando">
        <input name="titulo" ngModel type="text" [(ngModel)]="estudo.titulo">
        <a class="menu-finalizar" (click)="finalizar()"></a>
        <a class="menu-cancelar" (click)="cancelar()"></a>
        <textarea name="descricao" ngModel [(ngModel)]="estudo.descricao"></textarea>
    </div>
    <div class="estudo" *ngIf="!estudo.editando">
        <h3>{{estudo.titulo}}</h3>
        <a class="menu-editar" (click)="editar()"></a>
        <a class="menu-remover" (click)="remover()"></a>
        <p>{{estudo.descricao}}</p>
    </div>
</form>