.estudo{
    position:relative;
    min-height:100px;
    padding:5px 15px;
    margin:25px 0;
    color:#000;
    border:1px solid #2196F3;
    /*border-left:6px solid #2196F3;
    border-right:6px solid #2196F3;*/
    /*border-left-style:outset;
    border-right-style:outset;
    border-top-style: outset;*/
    background:#ddffff;
    /*border-top:1px solid grey;
    border-bottom:1px solid grey;*/
    /*border-radius:10px;
    background:#C8C8C8;*/
}
.estudo h3{
    padding-right:120px;
    font:bold 18px/20px Verdana,sans-serif;
}
.estudo p{
    font:normal 15px/20px Verdana,sans-serif;
}
.estudo input{
    display:block;
    box-sizing:border-box;
    height:30px;
    width:100%;
    padding:0 5px;
    margin:15px 0;
    font:bold 18px/20px Verdana,sans-serif;
}
.estudo textarea{
    display:block;
    box-sizing:border-box;
    min-height:30px;
    width:100%;
    padding:0 5px;
    margin:10px 0;
    font:normal 15px/20px Verdana,sans-serif;
}
.estudo input:focus,.estudo textarea:focus{
    outline: 1px solid #2196F3;
    border:none;
}
.estudo a{
    display:inline-block;
    position:absolute;
    height:50px;
    width:50px;
    font:bold 18px/25px Verdana,sans-serif;
    text-decoration:none;
    color:#fff;
    text-align:center;
    background-size: 100% 100%;
    background-color: #2196F3;
    border-radius:250%;
    /*border-style: outset;*/
}
.estudo .menu-editar{
    top:10px;
    right:80px;
    background-image:url("/assets/img/icon/editar.png");
}
.estudo .menu-remover{
    top:10px;
    right:10px;
    background-image:url("/assets/img/icon/remover.png");
}